*.id_rsa
*.id_rsa.*
.terraform
.idea
idea/*
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
.terraform.tfstate.lock.info
development_id_rsa
development_id_rsa.pub
assumed-role.json
cookies.txt
current_credentials
fetch_credentials.sh
getawscred.sh
saml_resp.b64
.envrc.local
.kube
